.vscode
Scripts.code-workspace
**/*.Rproj*
**/*.Rhistory*
**/*archive*
**/*Jobs*
**/*jobs*
**/*tmp*
**/*visualization*
**/*visualisation*
**/*matrices
**/*dataframes
**/*dfs_*
**/*concatenated_files*
**/*/concat
**/*py_output*
**/*py_concat_output*
**/*r_output*
**/*lme4_models*
.Rproj.user
**/._*
**/.DS_Store